@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;700&display=swap');

.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Masque';
  src: url('./Fonts/masque.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "teko";
  src: url('./Fonts/Furore.otf');
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

